<nav {{bind-attr class="loading"}}>
  <ul>
    <li class="tb-navigation-element-main">{{view Twingl.HistoryShowButton}}</li>
    <li class="tb-navigation-element-main">{{view Twingl.SearchButton}}</li>

    <li class="tb-navigation-element-alt">{{view Twingl.BrowserShowButton}}</li>
  </ul>

  <span class="flex"></span>

  <ul>
    <li class="tb-navigation-element-main">{{view Twingl.LogoutButton}}</li>
  </ul>
</nav>
