<div id="tb-ui-primary">
  <div id="tb-browser-chrome">

    <div id="tb-navigation-browser">{{outlet navigation}}</div>
    <span class="flex"></span>
    <div id="tb-navigation-window">
      <ul class="actions">
        <li>{{view Twingl.WindowMinimizeButton}}</li>
        <li>{{view Twingl.WindowMaximizeButton}}</li>
        <li>{{view Twingl.WindowCloseButton}}</li>
      </ul>
    </div>
  </div>

  <div id="tb-pane-main" {{bind-attr class="loading"}}>{{outlet}}</div>
  <div id="tb-pane-alt">
    <div class="assignment-switcher">
      {{outlet windowNavigation}}
    </div>
    {{outlet alt}}
  </div>
</div>
