<div id="tb-ui-primary">
  <div id="tb-navigation-window">

    <div class="flex"><p>Title of the page</p></div>

    <div>
      <ul class="actions">
        <li>{{view Twingl.WindowMinimizeButton}}</li>
        <li>{{view Twingl.WindowMaximizeButton}}</li>
        <li>{{view Twingl.WindowCloseButton}}</li>
      </ul>
    </div>
  </div>
  <div id="tb-navigation-main">{{outlet navigation}}</div>
  <div id="tb-pane-main">{{outlet}}</div>
  <div id="tb-pane-alt">
    <div class="assignment-switcher">
      <nav><ul><li class="tb-navigation-element-alt">{{view Twingl.BrowserShowButton}}</li></ul></nav>
      {{outlet windowNavigation}}
    </div>
    {{outlet alt}}
  </div>
</div>
